@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    padding: 10px 64px;
}
body{
    font-family: Space Grotesk;
}
input{
    border-radius: 10px;
    background-color: #292A32;
}
/*classe fonctionnel flexbox*/
/*rendre flexible un parent c rendre flexible ses enfant*/
.flex{
    display: flex;
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.txtcenter{
    text-align: center;
}


.container1000{
    max-width: 1000px;
    margin: 0 auto;
}

/*classes de dimenssions*/

.w-100{
    width: 100%;
}
.w-60{
    width: 60px;
}

.w-48{
    width: 48%;
}
.w-45{
    width: 45px;
}
.w45{
    width: 45%;
}
.w-40{
    width: 40px;
}
.w40{
    width: 40%;
}

.w-50{
    width: 50%;
}

.w-33{
    width: 33%;
}

.w30{
    width: 30%;
}
.w28{
    width: 28%;
}

.w25{
    width: 25%;
}

.w-16{
    width: 16%;
}
.w-1{
    width: 1px;
}

/*carte et boutton*/
.card-gris-big{
    border-radius: 20px;
    padding: 60px;
    background-color: #F3F3F3;
    height: 340px;  
}
.card-black-big{
    background-color: #191A23;
    border-radius: 20px;
    padding: 60px;
    height: 300px;
}
.card-gris{
    box-shadow: 5px 5px black;
    border-radius: 20px;
    padding: 40px;
    background-color: #F3F3F3;
    border: 2px solid black ;
    
}
.card-vert{
    box-shadow: 5px 5px  black;
    border-radius: 20px;
    padding: 40px;
    background-color: #B9FF66;
    border:  2px solid black;
}
.card-black{
    box-shadow: 5px 5px  black;
    border-radius: 20px;
    padding: 40px;
    background-color: #191A23;
    border:  2px solid black;
}
.card-white{
    border-radius: 20px;
    box-shadow: 5px 5px black;
    padding: 40px;
    border: 2px solid black;
}
.button{
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    color: white;
    padding: 15px 15px;
    display: inline-block;
    color: whitesmoke;
    
}
.button2{
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    color: white;
    padding: 15px 70px;
    display: inline-block;
    color: whitesmoke;
    
}
.buttonvert{
    background-color: #B9FF66(0, 0, 0);
    border-radius: 10px;
    color: white;
    padding: 15px 15px;
    display: inline-block;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.button-header{
    border-radius: 10px;
    padding: 15px 20px 15px 20px;
    display: inline-block;
    border: 2px solid black;
}



/*classe de mise en page*/
.no-lien{
    text-decoration: none;
}
.suppuce{
    list-style-type: none;
}

/*classe d'espace*/
.mgt20{
    margin-top: 20px;
}
.mgt40{
    margin-top: 40px;
}
.mgt50{
    margin-top: 50px;
}
.mgt60{
    margin-top: 60px;
}
.mgt100{
    margin-top: 100px;
}
.mgt200{
    margin-top: 200px;
}
.gap20{
    gap: 20px;
}
.gap40{
    gap: 40px;
}
.gap80{
    gap: 80px;
}
.box20{
  margin-right: 20px;
}

/*classes de couleurs*/
.bg-vert{
    background-color: #B9FF66;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
}
.bg-vert2{
    background-color: #B9FF66;
    padding: 20px 60px 20px 60px;
    border-radius: 10px;
}
.bg-black{
    background-color: #191A23;
    padding: 40px;
    border-radius: 10px 10px 0px 0px;
    height: 600px;
}
.bg-input{
    background-color: #292A32;
    padding: 70px 20px;
    border-radius: 10px;
}
.bg-blanc{
    background-color: #FFFFFF;
    border-radius: 10px;
    
    
}
.black{
    color: #191A23;
}
.txtwhite{
    color: white;
}
.txtblack{
    color: #000;
}
.txtvert{
    color: #B9FF66;
}



/*classe de deplacement*/
/*pour les 6 cartes*/
.move-image1{
    transform: translate(170px,-40px);
}
/*pour la grosse carte grise*/
.move-image2{
    transform: translate(550px,-220px);
}
.move-button-black{
    transform: translate(0px,-320px);
}
.move-button-black2{
    transform: translate(1030px,0px);
}
/*pour la nav bar et header*/
.move-nav{
    transform: translate(110px,20px);
}
/*pour le logo linkedin vert*/
.move-linkedin-jhon{
    transform: translate(222px,-247px);
}
.move-linkedin-jane{
    transform: translate(237px, -275px);
}
.move-linkedin-michael{
    transform: translate(231px,-273px);
}
.move-linkedin-emily{
    transform: translate(206px,-275px);
}
.move-linkedin-brian{
    transform: translate(234px,-314px);
}
.move-linkedin-sarah{
    transform: translate(245px,-293px);
}
.move-fleche-verte{
    transform: translate(17px,3px);
}